/* Base tweaks that complement Tailwind */
* { box-sizing: border-box; }

/* Drawers / Modals transitions */
#cartDrawer {
	transition: transform 0.25s ease;
}

.drawer-open {
	transform: translateX(0) !important;
}

#productModal.hidden,
#authModal.hidden {
	display: none;
}

.modal-show {
	display: block !important;
}

/* Hide number input arrows (Chrome) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}


